.main-container {
  margin: 0 auto;
  width: 90%;
}

#hero-section {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 2rem;
  height: 90vh;
  /* background-image: url("/assets/images/coding-transparent.png"); */
  background-size: cover;
  background-position: center center;
  text-align: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: 0;
}

#hero-section h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  line-height: 4rem;
  color: #1d2f55;
  padding: 0 1rem;
  text-shadow: rgba(0, 0, 0, 0.9);
  font-family: "Poppins", sans-serif;
}

#hero-section p {
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  color: #1d2f55;
  text-shadow: #320e3b;
  padding: 0 3rem;
  font-family: "Montsserat", sans-serif;
}

#hero-button {
  margin-top: 3rem;
  background-color: #320e3b;
  color: #a8d8b9;
}

#hero-button:hover {
  background-color: #a8d8b9;
  color: #320e3b;
}

#hero-section .container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
}

section {
  padding: 80px 2rem;
}

#understanding-challenge {
  background-color: rgba(255, 255, 255, 0.6);
  /* margin-top: 2rem; */
}

#supportive-path {
  background-color: transparent;
}

#what-you-gain {
  background-color: rgba(255, 255, 255, 0.6);
}

#how-it-works {
  background-color: transparent;
}

#empowerment {
  background-color: rgba(255, 255, 255, 0.6);
}

#ready-to-begin {
  background-color: transparent;
}

section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1d2f55;
}

section h4 {
  color: #1d2f55;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #320e3b;
}

.fade-in-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

section i {
  font-size: 3rem;
  color: #a7c7e7;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

section i:hover {
  color: #4a90e2;
}

#what-you-gain .row {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#what-you-gain .col-md-4 {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#what-you-gain .col-md-4:hover {
  transform: translateY(-10px);
}

#what-you-gain .col-md-4 h4 {
  margin-top: 10px;
  font-size: 1.4rem;
}

#what-you-gain .col-md-4 p {
  font-size: 1rem;
}

.start-quiz-button.btn-primary {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #a8d8b9;
  border: none;
  color: #320e3b;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
  margin-top: 1rem;
}

.start-quiz-button.btn-primary:hover {
  background-color: #320e3b;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #a8d8b9;
}

@media (max-width: 768px) {
  #hero-section h1 {
    font-size: 2rem;
    padding: 0;
  }

  #hero-section h2 {
    font-size: 1rem;
    padding: 0;
  }

  section h3 {
    font-size: 1.5rem;
  }

  .start-quiz-button.btn.btn-primary {
    font-size: 1rem;
    padding: 12px 25px;
  }

  .container {
    padding: 0 15px;
  }
}
